body{
    background-image: url('../images/bg.jpg');
    background-size: cover;
}

#header{
    text-align: center;
    color: #2660A1;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 50px;
    margin: -5px;
}

.weather-row{
    display: flex;
    justify-content: space-around;
}

h5{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

.arrow-icon{
    height: 55px;
    width: 55px;
}
#distanceText{
    padding: 5px;
}

/* Media Queries */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px){ 
    #weather-data{
        display: flex;
        flex-wrap: wrap;
    }

    .arrow-icon{
        position: relative;
        top:20px;
        width: 25px;
        height: 25px;
    }

    #header{
        font-size: 35px;
        margin-top: 10px;
    }

    #mapDiv{
        width: 100%;
    }

    #weather-data{
        width: 100%;
    }
}
